.ufo-slider-section .swiper-nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
  margin-top: 50px;
}
.ufo-slider-section .swiper-nav-wrapper .swiper-button-next, .ufo-slider-section .swiper-nav-wrapper .swiper-button-prev {
  position: relative;
  background: rgba(210, 210, 215, 0.64);
  width: 38px;
  height: 38px;
  border-radius: 38px;
  color: #86868b;
}
.ufo-slider-section .swiper-nav-wrapper .swiper-button-next svg, .ufo-slider-section .swiper-nav-wrapper .swiper-button-prev svg {
  fill: #86868b;
  width: 25px;
  height: 25px;
}
.ufo-slider-section .swiper-nav-wrapper .swiper-button-next:after, .ufo-slider-section .swiper-nav-wrapper .swiper-button-prev:after {
  content: none;
}
.ufo-slider-section * {
  transition: all 0.35s ease;
}

.ufo-slider-item-wrapper .ufo-slider-content > * {
  display: inline;
  padding: 25px 0;
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
}
@media (max-width: 767px) {
  .ufo-slider-item-wrapper .ufo-slider-content > * {
    font-size: 19px;
  }
}
.ufo-slider-item-wrapper .ufo-slider-content a {
  color: #0a53be;
}
.ufo-slider-item-wrapper .ufo-slider-content .heading {
  color: #1d1d1f;
}
.ufo-slider-item-wrapper .ufo-slider-content .ufo-slider-info {
  color: #86868b;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper {
  position: relative;
  overflow: hidden;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-slider-image img {
  display: block;
  width: 100%;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content {
  overflow-y: auto;
  background: #fff;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content > * {
  font-size: 16px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
}
@media (max-width: 767px) {
  .ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content > * {
    font-size: 14px;
  }
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content .heading {
  color: #1d1d1f;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content img {
  display: block !important;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle-content::-webkit-scrollbar {
  display: none;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper.shade:before, .ufo-slider-item-wrapper .ufo-slider-image-wrapper.shade:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(0deg, rgba(251, 251, 253, 0), #ffffff 80%, #ffffff);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper.shade:after {
  background-image: linear-gradient(180deg, rgba(251, 251, 253, 0), #ffffff 80%, #ffffff);
  top: auto;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 6px;
  text-align: center;
  background: #000;
  color: #fff;
  fill: #fff;
  padding: 6px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle i {
  font-size: 24px;
}
.ufo-slider-item-wrapper .ufo-slider-image-wrapper .ufo-toggle svg {
  width: 20px;
  height: 20px;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper.shade:before, .ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper.shade:after {
  transition: opacity 0.35s ease;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper .ufo-slider-image {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.35s cubic-bezier(0.35, 0, 0.01, 1) 0.35s, visibility 0s linear 0.7s;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper .ufo-slider-image img {
  display: block;
  width: 100%;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper .ufo-toggle-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(-20px);
  transition: all 0.35s cubic-bezier(0.35, 0, 0.2, 1);
  opacity: 0;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper .ufo-toggle-content img {
  display: block !important;
}
.ufo-slider-item-wrapper.fade .ufo-slider-image-wrapper .ufo-toggle-content::-webkit-scrollbar {
  display: none;
}
.ufo-slider-item-wrapper.bottomup .ufo-slider-image-wrapper.shade:before, .ufo-slider-item-wrapper.bottomup .ufo-slider-image-wrapper.shade:after {
  transition: all 0.5s ease-in-out;
}
.ufo-slider-item-wrapper.bottomup .ufo-slider-image-wrapper .ufo-toggle-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(0) translateY(100%);
  opacity: 0;
  visibility: hidden;
}
.ufo-slider-item-wrapper.ufo-activate-toggle.fade .ufo-slider-image-wrapper .ufo-slider-image {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s;
}
.ufo-slider-item-wrapper.ufo-activate-toggle.fade .ufo-slider-image-wrapper .ufo-toggle-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.35s;
}
.ufo-slider-item-wrapper.ufo-activate-toggle.bottomup .ufo-slider-image-wrapper .ufo-toggle-content {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.ufo-slider-item-wrapper.ufo-activate-toggle .ufo-slider-image-wrapper .ufo-toggle svg, .ufo-slider-item-wrapper.ufo-activate-toggle .ufo-slider-image-wrapper .ufo-toggle i {
  transform: rotate(-45deg);
}
.ufo-slider-item-wrapper.ufo-activate-toggle .ufo-slider-image-wrapper.shade:before {
  top: 0;
  opacity: 1;
}
.ufo-slider-item-wrapper.ufo-activate-toggle .ufo-slider-image-wrapper.shade:after {
  bottom: 0;
  opacity: 1;
}

.ufo-auto-slider-section .swiper-nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
  margin-top: 50px;
}
.ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-next, .ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-prev {
  position: relative;
  font-weight: 300;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1d1d1f;
  transition: all 250ms ease;
  line-height: 50px;
}
.ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-next:after, .ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-next:before, .ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-prev:after, .ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-prev:before {
  content: none;
}
.ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-next svg, .ufo-auto-slider-section .swiper-nav-wrapper .swiper-button-prev svg {
  width: 30px;
  fill: #fff;
}
.ufo-auto-slider-section .swiper-slide {
  min-width: 100%;
  max-width: 100%;
}
@media (min-width: 767px) {
  .ufo-auto-slider-section .swiper-slide {
    min-width: 480px;
    max-width: 650px;
  }
}

.ufo-auto-slider-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ufo-auto-slider-item-wrapper .ufo-auto-slider-content {
  padding: 50px 40px 0;
}
.ufo-auto-slider-item-wrapper .ufo-auto-slider-content * {
  font-size: 19px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: 0.012em;
}
.ufo-auto-slider-item-wrapper .ufo-auto-slider-image {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

/*# sourceMappingURL=ufoslider.css.map */
