.ufo-slider-section {
    font-family: initial;
    .swiper-nav-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 35px;
        margin-top: 50px;
        .swiper-button-next, .swiper-button-prev {
            position: relative;
            background: rgba(210, 210, 215, .64);
            width: 38px;
            height: 38px;
            border-radius: 38px;
            color: #86868b;

            svg {
                fill: #86868b;
                width: 25px;
                height: 25px;
            }

            &:after {
                content: none;
            }
        }
    }
     *{
        transition: all .35s ease;
    }
}
.ufo-slider-item-wrapper {
    .ufo-slider-content {
        > * {
            display: inline;
            padding: 25px 0;
            font-size: 21px;
            line-height: 1.1904761905;
            font-weight: 600;
            letter-spacing: .011em;
            @media (max-width: 767px){
                font-size: 19px;
            }
        }
        a{
            color: #0a53be;
        }
        .heading {
            color: #1d1d1f;
        }
        .ufo-slider-info {
            color: #86868b;
        }
    }
    .ufo-slider-image-wrapper {
        position: relative;
        overflow: hidden;
        .ufo-slider-image {
            img{
                display: block;
                width: 100%;
            }
        }
        .ufo-toggle-content {
            overflow-y: auto;
            background: #fff;
            > * {
                font-size: 16px;
                line-height: 1.1904761905;
                font-weight: 600;
                letter-spacing: .011em;
                @media (max-width: 767px){
                    font-size: 14px;
                }
            }
            .heading {
                color: #1d1d1f;
            }
            img{
                display: block !important;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &.shade{
            &:before,&:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 70px;
                background-image: linear-gradient(0deg,rgba(251,251,253,0),#ffffff 80%,#ffffff);
                z-index: 1;
                pointer-events: none;
                opacity: 0;
                transition: opacity .35s ease;
            }
            &:after{
                background-image: linear-gradient(180deg, rgba(251, 251, 253, 0), #ffffff 80%, #ffffff);
                top: auto;
            }
        }
        .ufo-toggle {
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 6px;
            text-align: center;
            background: #000;
            color: #fff;
            fill: #fff;
            padding: 6px;
            border-radius: 50%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 24px;
            }
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
    &.fade{
        .ufo-slider-image-wrapper{
            &.shade{
                &:before,&:after{
                    transition: opacity .35s ease;
                }
            }
            .ufo-slider-image {
                opacity: 1;
                visibility: visible;
                transition: opacity .35s cubic-bezier(0.35,0,0.01,1) .35s, visibility 0s linear .7s;
                img{
                    display: block;
                    width: 100%;
                }
            }
            .ufo-toggle-content {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: translateY(-20px);
                transition: all .35s cubic-bezier(0.35,0,0.2,1);
                opacity: 0;
                img{
                    display: block !important;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    &.bottomup{
        .ufo-slider-image-wrapper {
            &.shade{
                &:before, &:after {
                    transition: all .5s ease-in-out;
                }
            }
            .ufo-toggle-content {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transition: all .5s ease-in-out;
                transform: translateX(0) translateY(100%);
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &.ufo-activate-toggle{
        &.fade{
            .ufo-slider-image-wrapper{
                .ufo-slider-image{
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: 0s;
                }
                .ufo-toggle-content{
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .35s;
                }
            }
        }
        &.bottomup{
            .ufo-slider-image-wrapper{
                .ufo-toggle-content {
                    transform: none;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .ufo-slider-image-wrapper{
            .ufo-toggle svg, .ufo-toggle i{
                transform: rotate(-45deg);
            }
            &.shade{
                &:before{
                    top: 0;
                    opacity: 1;
                }
                &:after{
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }
}
.ufo-auto-slider-section {
    font-family: initial;
    .swiper-nav-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 35px;
        margin-top: 50px;
        .swiper-button-next, .swiper-button-prev {
            &:after, &:before{
                content: none;
            }
            position: relative;
            font-weight: 300;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #1d1d1f;
            transition: all 250ms ease;
            line-height: 50px;
            svg{
                width: 30px;
                fill: #fff;
            }
        }
    }
    .swiper-slide{
        @media(min-width: 767px){
            min-width: 480px;
            max-width: 650px;
        }
        min-width: 100%;
        max-width: 100%;
    }
}
.ufo-auto-slider-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .ufo-auto-slider-content {
        padding: 50px 40px 0;
        * {
            font-size: 19px;
            line-height: 1.2105263158;
            font-weight: 600;
            letter-spacing: .012em;
        }
    }
    .ufo-auto-slider-image{
        flex-grow: 1;
        display: flex;
        height: 100%;
    }
}